@{
    ViewData["Title"] = "Confirm email";
}

<div class="text-center">
    <h1 class="display-4">Confirm email</h1>
    <p>Now go to your email and click activation link.</p>
    <p>Warning! The email can be in spam.</p>
</div>
