@{
    ViewData["Title"] = "Confirm email";
}

<div class="text-center">
    <h1 class="display-4">Account daily limit reached</h1>
    <p>Your account has been created, but we cant send you email with confirmation.</p>
    <p>Try to resend email with confirmation tommorrow. Sorry for inconvenience. We will increase daily amount of accounts in the future.</p>
</div>
