@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This website is designed to create art contests. To join them make a free account and search for contest.</p>
</div>
