@model ArtContestClub.Models.Rank


<br />
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <div class="card bg-success" style="width: 100%">
                <div class="card-body text-white">
                    <h5 class="card-title">Vip 30days</h5>
                    <h6 class="card-subtitle mb-2">$2.46</h6>
                    <p class="card-text">Join how many contests you like. You can only create one ongoing contest at a time.</p>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="QPS5GD7HNVRDW">
                        <input type="image" src="https://www.paypalobjects.com/pl_PL/PL/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – Płać wygodnie i bezpiecznie">
                        <img alt="" border="0" src="https://www.paypalobjects.com/pl_PL/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>