@model IEnumerable<ArtContestClub.Models.Rank>

@{
    ViewData["Title"] = "Index";
}

@if(ViewData["CreateRank"] == "true")
{
    <br />
    <a class="btn btn-danger" asp-controller="Ranks" asp-action="Create">Create rank</a>
    <br />
}


<br />
<a class="btn btn-success" asp-controller="Ranks" asp-action="BuyRank">Buy rank</a><br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Rank
            </th>
            <th>
                Buy time
            </th>
            <th>
                Expires
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expires)
            </td>
        </tr>
}
    </tbody>
</table>
