@if(ViewData["YouAreBanned"].ToString() == "true")
{
    <br />
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>You are banned! </strong> Go to rank page to see details.
    </div>
}