<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArtContest.club</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ArtContestClub.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div id="cookieNotice" class="light display-right" style="display: none;">
            <div id="closeIcon" style="display: none;">
            </div>
            <div class="title-wrap">
                <h4>Cookie Consent</h4>
            </div>
            <div class="content-wrap">
                <div class="msg-wrap">
                    <p>This website uses cookies or similar technologies, to enhance your browsing experience and provide personalized recommendations. By continuing to use our website, you agree to our  <a style="color:#115cfa;" asp-controller="Home" asp-action="Privacy" >Privacy Policy</a></p>
                    <div class="btn-wrap">
                        <button class="btn-primary" onclick="acceptCookieConsent();">Accept</button>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark text-white box-shadow mb-0">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ArtContest.club</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid mt-0">
        <div class="row">
            <div class="col-md-2 col-xs-3 bg-dark" style="min-height: 100%">
                <div class="d-grid gap-2 pb-2 pt-2">
                    <a class="btn btn-warning text-black" role="button" asp-controller="Contests" asp-action="SearchContest">Find contest</a>
                    <a class="btn btn-warning text-black" role="button" asp-controller="AboutMe" asp-action="SearchForUser">Find user</a>

                    <a class="btn btn-primary text-white" role="button" asp-controller="Contests" asp-action="Create">Create contest</a>
                    <a class="btn btn-primary text-white" role="button" asp-controller="Contests" asp-action="MyContests" asp-route-userId="my">My contests</a>
                    <a class="btn btn-primary text-white" role="button" asp-controller="Contests" asp-action="JoinedContests" asp-route-userId="my">Joined</a>
                    <a class="btn btn-primary text-white" role="button" asp-controller="AboutMe" asp-action="Index" asp-route-id="my">About me</a>
                    <a class="btn btn-success text-white" role="button" asp-controller="Friends" asp-action="Index">Friends</a>
                    <a class="btn btn-success text-white" role="button" asp-controller="Messages" asp-action="Create" asp-route-messageTo="">Create message</a>
                    <a class="btn btn-success text-white" role="button" asp-controller="Messages" asp-action="View" asp-route-messageTo="">My messages</a>
                    <a class="btn btn-danger text-white" role="button" asp-controller="Messages" asp-action="Support" asp-route-messageTo="">Support</a>
                    <a class="btn btn-warning text-black" asp-area="Identity" asp-page="/Account/Manage/Email" title="Manage">Account settings</a>
                </div>
            </div>
            <div class="col-md-10 col-xs-9">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ArtContest.club - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        // Create cookie
        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays*24*60*60*1000));
            let expires = "expires="+ d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        // Delete cookie
        function deleteCookie(cname) {
            const d = new Date();
            d.setTime(d.getTime() + (24*60*60*1000));
            let expires = "expires="+ d.toUTCString();
            document.cookie = cname + "=;" + expires + ";path=/";
        }

        // Read cookie
        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        function acceptCookieConsent(){
            deleteCookie('user_cookie_consent');
            setCookie('user_cookie_consent', 1, 30);
            document.getElementById("cookieNotice").style.display = "none";
        }
        let cookie_consent = getCookie("user_cookie_consent");
        if(cookie_consent != ""){
            document.getElementById("cookieNotice").style.display = "none";
        }else{
            document.getElementById("cookieNotice").style.display = "block";
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
