@model ArtContestClub.Models.Contest

@{
    ViewData["Title"] = "Create";
}

@if(ViewData["UserRankToLowToCreate"] != null && ViewData["UserRankToLowToCreate"].ToString() == "true")
{
    <br />
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error!</strong> You need to wait until your last contest ends or upgrade your rank.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if(ViewData["UserRankToLow"] != null && ViewData["UserRankToLow"].ToString() == "true")
{
    <br />
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error!</strong> Your rank is too low to create contest with more than 10 participants.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}



<h1>Create contest</h1>
<br />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" class="form-floating">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Title</label>
                <input asp-for="Title" class="form-control" maxlength="100"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-outline">
              <label class="form-label" asp-for="Description">Description</label>
              <textarea asp-for="Description" class="form-control" rows="5" maxlength="500"></textarea>
              <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-check">
                <label asp-for="IsNsfw" class="control-label">NSFW</label>
                <input asp-for="IsNsfw" class="form-check-input" type="checkbox" value="true"/>
                <span asp-validation-for="IsNsfw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillLevel" class="control-label">Skill level</label>
                <select asp-for="SkillLevel" class="form-select">
                  <option value="1"selected>Newbie</option>
                  <option value="2">Beginner</option>
                  <option value="3">Medium</option>
                  <option value="4">Skilled</option>
                  <option value="5">Professional</option>
                  <option value="6">Art God</option>
                  <option value="7">All</option>
                </select>
                <span asp-validation-for="SkillLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxParticipants" class="control-label">Participants limit</label>
                <select asp-for="MaxParticipants" class="form-select">
                  <option value="10"selected>10</option>
                  <option value="25">25 (Premium)</option>
                  <option value="50">50 (Premium)</option>
                  <option value="100">100 (Premium)</option>
                </select>
                <span asp-validation-for="MaxParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch" class="control-label"></label>
                <select class="form-select form-select-sm" asp-for="Branch">
                  <option value="1" selected>Digital drawing</option>
                  <option value="2">Digital painting</option>
                  <option value="3">Traditional drawing</option>
                  <option value="4">Traditional painting</option>
                  <option value="5">Photography</option>
                  <option value="6">3D</option>
                  <option value="7">Other</option>
                </select>
                <span asp-validation-for="Branch" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create contest" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
