@model ArtContestClub.Models.Contest

@{
    ViewData["Title"] = "Edit";
}
<!--
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-outline">
              <label class="form-label" asp-for="Description">Description</label>
              <textarea asp-for="Description" class="form-control" rows="5"></textarea>
              <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-check">
                <label asp-for="IsNsfw" class="control-label">NSFW</label>
                <input asp-for="IsNsfw" class="form-check-input" type="checkbox" value="true"/>
                <span asp-validation-for="IsNsfw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillLevel" class="control-label">Skill level</label>
                <select asp-for="SkillLevel" class="form-select">
                  <option value="1"selected>Newbie</option>
                  <option value="2">Beginner</option>
                  <option value="3">Medium</option>
                  <option value="4">Skilled</option>
                  <option value="5">Professional</option>
                  <option value="6">Art God</option>
                  <option value="7">All</option>
                </select>
                <span asp-validation-for="SkillLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxParticipants" class="control-label">Participants limit</label>
                <select asp-for="MaxParticipants" class="form-select">
                  <option value="10"selected>10</option>
                  <option value="25">25</option>
                  <option value="50">50 (Premium)</option>
                  <option value="100">100 (Premium)</option>
                  <option value="250">250 (Mod)</option>
                  <option value="500">500 (Mod)</option>
                  <option value="1000">1000 (Admin)</option>
                </select>
                <span asp-validation-for="MaxParticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch" class="control-label"></label>
                <select class="form-select form-select-sm" asp-for="Branch">
                  <option value="1" selected>Digital drawing</option>
                  <option value="2">Digital painting</option>
                  <option value="3">Traditional drawing</option>
                  <option value="4">Traditional painting</option>
                  <option value="5">Photography</option>
                  <option value="6">3D</option>
                  <option value="7">Other</option>
                </select>
                <span asp-validation-for="Branch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
-->
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
