@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>


<a class="btn btn-success" asp-controller="Home" asp-action="SendEmailVeryfication" asp-route-to="@Model.Email" asp-route-verificationCode="@Model.EmailConfirmationUrl" class="btn btn-success" type="submit" value="Submit">
    Click here to send verification email.<br/ >
    Go to email and confirm.<br/ >
    If you do not do this, you will not be able to login.<br/ >
    If you can not find email - check spam.
</a>